<!DOCTYPE html>
<html>
  <head>
    <title>SearchRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
         
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
           <a class="navbar-item">
              <h1 class="title is-2 has-text-white">Search-ROR</h1>
            </a>

            <a class="navbar-item">
              Home
            </a>

            <a class="navbar-item">
              Analytics & trends
            </a>
          </div>

          <div class="navbar-end">
            <%= render 'searches/form', locals: { myclass: 'navbar-item' }  %>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<%= javascript_pack_tag 'menu'%>
